/* Your stylesheet */

body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
.navbar {
    padding: 10px;
    background-color:  white;
    cursor: pointer;
    
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: rgb(106, 240, 233);
    border-radius: 3px;
    color: white;
    padding: 10px;
    font-size: 30px
}

.navbar li  {
    align-items: left;
}

.container {
    width: auto;
    margin: auto;
    padding: 30px;
  }

#Summary {
    border: 2px solid black;
    margin: 10px;
    padding: 30px;
    background-color: white;
}

#Visualization{
    border: 2px solid black;
    margin: 10px;
    padding: 40px;
    width: auto;
    background-color: white;
}

#Cloudiness {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-color: white;
  padding: 20px;
}

#Humidity {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-color: white;
  padding: 20px;
}

#Wind {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-color: white;
  padding: 20px;
}

#Temperature {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-color: white;
  padding: 20px;
}

.container h2{
      font-weight: bold;
      font-size: inherit;
      background-color:  rgb(106, 240, 233);
      padding: 10px;
  }

  .container h3 {
    font-weight: bold;
    font-size: inherit;
    padding: 10px;
    text-align: center;
  }

  #figure {
    position: relative;
  }
  
  #map_image {
    margin-right: 20px;
    margin-left: 20px;
    float: left
  }
  
  #image {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

#Data {
  border: 1px solid black;
  background-color: white;
  padding: 20px;
}
  