/* Your stylesheet */

body {
    background-color: #f1f1f1;
}
.navbar {
    padding: 10px;
    background-color: #f1f1f1;
    
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: rgb(106, 240, 233);
    border-radius: 3px;
    color: white;
    padding: 10px;
    font-size: 30px
}

.navbar li  {
    align-items: left;
}

